System_of_ensure/Lab5_Client/Lab5_Client/Service References/Ensure_Agent/Ensure_Agent2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="AddClaim">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sum_of_ensure" type="xs:int" />
        <xs:element minOccurs="0" name="start_data" type="xs:dateTime" />
        <xs:element minOccurs="0" name="end_data" type="xs:dateTime" />
        <xs:element minOccurs="0" name="group" type="xs:int" />
        <xs:element minOccurs="0" name="passport" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddClaimResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddClaimResult" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cost" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>