System_of_ensure/EnsureCommitet/EnsureCommitet/EnsureCommitet/Service References/ServiceReference2/Ensure_Agent.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="GetData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddClaim">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sum_of_ensure" type="xs:int" />
        <xs:element minOccurs="0" name="period" type="xs:int" />
        <xs:element minOccurs="0" name="group" type="xs:int" />
        <xs:element minOccurs="0" name="passport" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddClaimResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddClaimResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>