System_of_ensure/EnsureCommitet/EnsureCommitet/EnsureCommitet/Service References/FinanceDep/FinanceDep2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://10.1.2.31/FinanceDep.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Lab_5" />
  <xs:element name="CheckFinance">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="insuranceSum" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckFinanceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckFinanceResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DetermineCostOfInsurance">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Lab_5" minOccurs="0" name="insurance" nillable="true" type="q1:Insurance" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DetermineCostOfInsuranceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DetermineCostOfInsuranceResult" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>